body{

    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 150px;

}

.resume-container{

    display: flex;
    background-color: white;
    width: 60%;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,1);
    
}
.left-section{

    background-color: #023760;
    color: white;
    padding: 20px;
    width: 40%;
    text-align: center;
    border-right: 5px solid #54b7e5;

}
.profile-picture {

    width: 250px;
    height: 250px;
    margin-top: 10%;
    border-radius: 50%;
    border: 5px solid #54b7e5;
    margin-bottom: 20px;
}
h1{
    font-size: 40px;
    margin: 10px 0;
    margin-bottom: 30px;
    text-align: center;
}
h3{
    font-size: 25px;
    padding: 2%;
    margin: 20px 0 10px;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    box-shadow: 0 0 15px #54b7e5;
    margin-top: 5%;
    margin-bottom: 5%;  
}
ul{
    list-style-type: square;
    padding: 10;
    margin: 10px 0;
}
ul li{
    margin: 5px 0;   
}
.right-section{
    padding: 30px;
    width: 75%; 
}
button{
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    box-shadow: 0 0 15px black;
    cursor: pointer;
    margin-top: 10px;
    font-size: 18px;
}
button:hover{
    background-color:  #54b7e5;
}
